<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link type="text/css" rel="stylesheet" href="/static/css/weui.min.css"/>
    <style type="text/css">
        body {
            background-color: #FBF9FE;
        }

        .weui_label {
            width: 5em;
        }
    </style>
    <title>Add contact info</title>
</head>
<body ontouchstart="">
<form id="my_form" method="post">
    {% csrf_token %}
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd">
                <label class="weui_label">姓名</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="name" type="text" placeholder="请输入姓名"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd">
                <label class="weui_label">手机号码</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="phoneNum" type="text" placeholder="请输入常用手机号码"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd">
                <label class="weui_label">电子邮箱</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="email" type="email" placeholder="请输入常用邮箱地址"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd">
                <label class="weui_label">工作地点</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="location" type="text" placeholder="请输入工作城市"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd">
                <label class="weui_label">所属行业</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="job" type="text" placeholder="请所属行业"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd">
                <label class="weui_label">工作公司</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="company" type="text" placeholder="请输入所属公司"/>
            </div>
        </div>
    </div>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" id="button" href="javascript:;">提交</a>
    </div>
</form>
<script type="text/javascript" src="/static/js/zepto.min.js"></script>
<script type="text/javascript" src="/static/js/weui.js"></script>
<script type="text/javascript">
    $(function () {
        $('#button').on('click', function (e) {
            var $form = $('form');
            var pairs = $form.serialize().split(/&/gi);
            var data = {};
            pairs.forEach(function (pair) {
                pair = pair.split('=');
                data[pair[0]] = decodeURIComponent(pair[1] || '');
            });
            if (!data.name) {
                $.weui.topTips('请输入姓名',2000);
                var $topTips = $('error_top_tip');
                $topTips.show();
                return;
            }
            if (!data.phoneNum || !/^1[3,5,7,8]\d{9}$/.test(data.phoneNum)) {
                $.weui.topTips('请输入正确的手机号码', 2000);
                var $topTips = $('error_top_tip');
                $topTips.show();
                return;
            }
            if (!data.email) {
                $.weui.topTips('请输入电子邮箱', 2000);
                var $topTips = $('error_top_tip');
                $topTips.show();
                return;
            }
            $form.submit();
        })

    })
</script>
</body>
</html>